/* ===== Global ===== */

:root {
    --header-background: #fff;
    --background: #f7f6f2;
    --main-color: #a2924f;
    --text-color: #332900;
    --light-text-color: #757575;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arimo, sans-serif;
    font-weight: 600;
    color: var(--color-dark);
    background-color: var(--background);
    color: var(--text-color);
    margin: 0px;
}

p, h1, h2, h3, li, span {
    user-select: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: 14px;
    color: inherit;
}

section {
    padding-top: 60px;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* ===== Header ===== */

.header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__content {
    max-width: 75%;
    margin: 0 auto;
    padding: 16px 32px;
    background: var(--header-background);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.header__logo {
    font-weight: 1000;
    font-size: 22px;
    margin-right: auto;
}

.header__logo span {
    color: var(--main-color);
}

.header__menu-items a {
    margin: 0 8px;
    text-decoration: none;
    color: var(--text-color);
}

.header__menu-items a:hover {
    color: var(--main-color);
}

.header__button {
    background: var(--text-color);
    color: var(--header-background);
    padding: 10px 18px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 14px;
}

/* ===== Hero ===== */

.hero {
    position: relative;
    height: 80vh;
    padding: 40px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.hero__bg {
    position: absolute;
    inset: 0;
    background: url("../assets/images/hero.jpg") center / cover no-repeat;
    border-radius: 32px;
    z-index: 1;
}

.hero__bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

.hero__content {
    text-align: right;
    position: absolute;
    right: 80px;
    bottom: 80px;
    max-width: 520px;
    color: #fff;
    z-index: 2;
}

.hero__title {
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero__text {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}

/* ===== Section ===== */

.section-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title span {
    color: var(--main-color);
}

.section-colored-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    color: var(--main-color);
}

/* ===== Animation ===== */

.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all .8s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

/* ===== About ===== */

.about__container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.about__media-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: auto;
}

.about__media {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    border: 4px #a2924f;
    border-style: solid;
}

.about__media-rounded {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 4px #a2924f;
    border-style: solid;
}

.about__media img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__media-rounded img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__info-container {
    background-color: var(--header-background);
    padding: 40px;
    border-radius: 40px;
}

.about__info-container span {
    color: var(--main-color);
}

/* ===== Features ===== */

.features__grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 60px;
}

.features__content {
    align-content: center;
}

.features__content-title {
    font-size: 58px;
    line-height: 1.1;
    margin-bottom: 24px;
}

.features__content-title span {
    color: var(--main-color);
}

.features__content-text {
    font-size: 18px;
    color: var(--light-text-color);
}

.features__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features__card {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition:
        background-color 0.35s ease,
        transform 0.35s ease,
        box-shadow 0.35s ease;
    overflow: hidden;
}

/* мягкий псевдо-градиент */
.features__card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #332900;
    opacity: 0;
    transition: opacity 0.35s ease;
    z-index: 0;
}

/* контент поверх */
.features__card>* {
    position: relative;
    z-index: 1;
    transition: color 0.35s ease;
}

/* цифра */
.features__card-number {
    transition:
        color 0.35s ease,
        transform 0.35s ease;
    will-change: transform;
    transition:
        transform 0.45s cubic-bezier(.22, .61, .36, 1),
        color 0.35s ease;
}

/* wave слой */
.features__card::after {
    content: "";
    position: absolute;
    top: 120%;
    left: -50%;
    width: 200%;
    height: 200%;
    background:
        radial-gradient(circle at center,
            rgba(255, 255, 255, 0.18) 0%,
            rgba(255, 255, 255, 0.08) 25%,
            transparent 60%);
    transform: rotate(8deg);
    transition:
        top 0.6s cubic-bezier(.22, .61, .36, 1),
        opacity 0.4s ease;
    opacity: 0;
    z-index: 0;
}

.features__card::before,
.features__card::after {
    pointer-events: none;
}

/* текст */
.features__card p {
    transition: color 0.35s ease;
}

.features__card h3 {
    font-size: 24px;
    color: var(--main-color);
    white-space: nowrap;
    margin-top: 12px;
    margin-bottom: 12px;
}

.features-card p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
}

.features__card-number {
    font-size: 54px;
    display: block;
    margin-top: 20px;
}


/* ===== Slider ===== */

.apartments__slider {
    position: relative;
    width: 100%;
    cursor: grab;
}

.apartments__slider-window {
    cursor: grab;
}

.apartments__slider-window:active {
    cursor: grabbing;
}

.apartments__slider-track {
    width: max-content;
    display: flex;
    gap: 30px;
    padding: 40px;
    background: #fff;
    border-radius: 40px;
    will-change: transform;
    transition: transform .4s ease;
}

/* ===== Apartments ===== */

.apartments {
    overflow: hidden;
}

.apartment__card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #fff;
    border-radius: 24px;
    overflow: visible;
    user-select: none;
}

.apartment__media {
    width: 470px;
    height: 440px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    border: 4px #a2924f;
    border-style: solid;
}

.apartment__media img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .4s ease;
}

.apartment__media img.active {
    opacity: 1;
}

.apartment__media-zones {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(var(--zones), 1fr);
    z-index: 5;
}

.apartment__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    padding-left: 40px;
    text-align: right;
    width: 200px;
}

.apartment__info p,
h3 {
    margin: 8px 0px 8px 0px;
}

.apartment__info-desc {
    font-size: 16px;
    font-weight: 300;
    color: var(--light-text-color);
}

.apartment__info span {
    color: var(--main-color);
}

.apartment__info-price {
    font-size: 18px;
    margin-top: auto;
    font-weight: 800;
    color: #b49a52;
}

/* ===== Location ===== */

.location__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
}

.location__about {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 60px 30px;
    background: #fff;
    border-radius: 40px;
    margin-top: auto;
    font-size: large;
    margin: auto;
}

.location__about span {
    color: var(--main-color);
}

.location__map {
    overflow: hidden;
    border-radius: 40px;
    border: 3px solid var(--main-color);
}

/* ===== Reviews ===== */

.reviews {
    text-align: center;
}

.reviews__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}

.reviews__background {
    max-width: 100%;
    padding: 80px 0px;
    background-image: url("../assets/images/ap6/ap-6-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review__window {
    width: 45%;
    overflow: hidden;
}

.review__track {
    display: flex;
    transition: transform 0.5s ease;
}

.review {
    margin-right: 20px;
    min-width: 100%;
    border-radius: 32px;
    padding: 32px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(12px);

    display: flex;
    flex-direction: column;
    text-align: center;
}

.review__name {
    margin-top: auto;
    font-weight: 600;
    font-size: 18px;
}

.review__stars {
    margin-top: auto;
    color: #c2a85d;
    margin: 8px 0;
}

.review__text {
    margin-top: auto;
    font-size: 16px;
    line-height: 1.4;
    margin: 16px 0;
}

.review__date {
    margin-top: auto;
    font-size: 14px;
    color: #888;
}

.review__slider-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;

    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(12px);

    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.review__slider-btn:hover {
    background: #e0e0e0;
}

@media (max-width: 600px) {
    .reviews-slider {
        flex-direction: column;
    }

    .nav {
        order: 2;
    }
}

.reviews__counter {
    margin-top: 24px;
    font-size: 16px;
    color: #999;
    text-align: center;
    letter-spacing: 0.05em;
}

.reviews__counter .current {
    color: var(--main-color);
    font-weight: 500;
}

/* ===== Contacts ===== */

.contacts {
    padding: 60px 0px;
}

.contacts__container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 24px;
}

.contacts__bg {
    position: absolute;
    inset: 0;
    border-radius: 32px;
    z-index: 1;
}

.contacts__form-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 40px;
    padding: 40px;
    gap: 12px;
}

.contacts__form-title {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 24px;
    text-align: center;
}

.contacts__form-title span {
    color: var(--main-color);
}

.contacts__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__form input,
textarea {
    background: #f7f6f2;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.contacts__form textarea {
    height: 110px;
    resize: none;
}

.contacts__form button {
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 16px;
    border: none;
    background: #111;
    color: #fff;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .3s, opacity .3s;
    margin-right: 10px;
}

.vk-icon {
    background-image: url("../assets/icons/vk.svg");
}

.tg-icon {
    background-image: url("../assets/icons/tg.svg");
}

.contacts__info a:hover .icon {
    transform: translateY(-4px);
    opacity: .85;
}

.contacts__info {
    padding: 24px;
    width: auto;
    background: url("../assets/images/ap4/ap-4-1.jpg") center / cover no-repeat;
    border-radius: 40px;
    border: 3px solid var(--main-color);
    z-index: 1;
}

.contacts__info a {
    text-decoration: none;
}

.contacts__info-links {
    z-index: 2;
}